@import "swiper/less";
@import "swiper/less/navigation";
@import "swiper/less/pagination";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #301514;
  min-height: 100vh;
  margin: 0;
}

div, input, button, select, textarea {
  box-sizing: border-box;
}